.banner {
    padding: 8rem 0;
    background: $red;
    color: #fff;
    &__content {
        @include center-content;
        @include center-text;
        flex-flow: column;
    }
    &__title {
        font-size: 200%;
        text-transform: uppercase;
    }
    &__text {
        display: inline-block;
        background: white;
        padding: .4rem 1rem;
        font-size: 180%;
    }
}