.banner {
    padding: 4rem 0;
    background: linear-gradient(30deg, $red, $yellow);
    // background-image: url('../../imgs/background.svg');
    color: #fff;
    &__content {
        @include center-content;
        @include center-text;
        flex-flow: column;
    }
    &__title {
        font-size: 200%;
        text-transform: uppercase;
    }
    &__text {
        display: inline-block;
        padding: .4rem 1rem;
        font-size: 180%;
    }
}