.products {
    background: #f8f8f8;
    padding: 5rem 0;
    .feature__item {
        background: #fff;
    }
    @each $color,
    $value in $colors {
        .feature__item--#{$color} {
            border-bottom-color: $value;
        }
    }
}

@include tablet {
    .products {
        &__grid {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:nth-child(even) {
                margin: 5rem auto;
                .product {
                    order: 2;
                    text-align: right;
                }
                .feature__item {
                    order: 1;
                    margin-left: 0;
                }
            }
        }
        .product {
            flex: 1;
            &__title {
                color: $red;
                font-size: 200%;
            }
        }
        .feature__item {
            flex: 1;
            border-radius: $small-space;
            margin-left: 1rem;
            // border-bottom-color: $red;
        }
    }
}