button,
.button,
.input[type='submit'] {
    display: inline-block;
    border-radius: $small-radius;
    cursor: pointer;
    background: #fff linear-gradient(128deg, transparent, #18181888);
    padding: .4rem 2rem;
    font-weight: 500;
    font-family: inherit;
    color: #fff;
    text-align: center;
    margin: $small-space 0;
    background-size: 200%;
    border: none;
    box-shadow: $shadow;
}

@each $color,
$value in $colors {
    .button--#{$color} {
        background-color: $value;
    }
}

@media screen and (min-width: 700px) {
    .button {
        padding: .8rem 2rem;
        width: 12rem;
    }
}