/* 
* Keywords to use:
* tiny, small, medium, large
*/

// Spacing
$small-space: .8rem;
$large-space: 2rem;
// typography
$text-font: "Lora";
$title-font: "Montserrat";
// colors
$red: #b91515;
$green: rgb(43, 156, 43);
$light: #f1f1f1;
$blue: #84dbff;
$dark: #181818;
$yellow: #b99315;
// others
$nav-height: 50px;
$small-radius: 4px;
$medium-radius: 8px;
$shadow: 0 3px 8px rgba(0, 0, 0, 0.15);